<div class="container">
  <hr />
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <img src="/assets/img/house.svg" alt="" width="32" height="32" title="Bootstrap" />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/library">Library</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/author">Author</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/book">Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/member">Member</a>
    </li>
  </ul>
  <hr/>
  <router-outlet></router-outlet>
</div>
